<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssd.admin.business.mapper.ArticleClaimMapper">

        <select id="findByArticleIdList" resultType="com.ssd.admin.business.entity.ArticleClaimEntity" >
            SELECT
            COUNT(*) as claimCount,
            article_id as articleId,
            claim_user_organization_name as claimUserOrganizationName,
            claim_user_organization_id as claimUserOrganizationId
            FROM
                business_article_claim
            WHERE
                `status` = 20
            AND deleted = 0
            AND  article_id IN
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            GROUP BY
                article_id,
                claim_user_organization_id;
        </select>



</mapper>