<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssd.admin.business.mapper.ArticleMapper">
        <select id="findAllYear" resultType="java.lang.String" >
            SELECT apy FROM business_article GROUP BY apy ORDER BY apy DESC
        </select>
</mapper>